.corpo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25rem;
}
.conteudo {
    margin: 1rem 0;
    color: #1b2531;
    display: flex;
    justify-content: center;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
}

.imgBotoes {
    border-radius: 30px;
    height: 8rem;
    width: 220px;
}

.textoPrincipal {
    width: 75%;
}