@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-y: none;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

footer {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #255f81;
}
@media (min-width: 0px) {
  footer {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
  }
  footer > * {
    padding: 30px 0px;
  }
  footer #linksFooter {
    display: flex;
    flex-direction: column;
  }
  footer #linksFooter > a {
    padding-bottom: 20px;
  }
  footer #redesFooter {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  footer #redesFooter p {
    text-align: center;
    align-self: center;
  }
  footer #redesFooter div {
    align-self: center;
    padding-top: 20px;
  }
  footer #redesFooter div img {
    width: 30px;
    height: 30px;
    padding: 0px 5px;
  }
  footer #linksFooter,
footer #redesFooter {
    padding-bottom: 10px;
  }
  footer #linksFooter > a,
footer #redesFooter > a {
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}