@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-y: none;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

#home {
  display: flex;
  flex-direction: column;
}
@media (min-width: 0px) {
  #home .sugeridosHome {
    display: flex;
    flex-direction: column;
  }
  #home .sugeridosHome h2 {
    align-self: center;
  }
  #home .sugeridosCardHome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 100px;
  }
  #home .sugeridosCardHome a {
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
    padding-top: 50px;
  }
  #home .sugeridosCardHome a img {
    width: 100%;
    max-width: 220px;
    box-shadow: 1px 1px 10px black;
    align-self: center;
  }
  #home > h1 {
    background-image: url(../../images/homeTrees.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    font-size: 40px;
    text-shadow: 1px 2px 5px black;
    padding-top: 50px;
    font-weight: 500;
    color: whitesmoke;
    text-align: center;
  }
  #home > p {
    font-size: 20px;
    text-align: center;
    max-width: 50vw;
    align-self: center;
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  #home .sugeridosCardHome {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-between;
    padding-bottom: 100px;
  }
  #home .sugeridosCardHome img {
    margin: 0px 30px;
  }
  #home .sugeridosCardHome a {
    padding-top: 0px;
  }
}