@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@mixin all
{
  @media(min-width: 0px)
  {
    @content;
  }
}

@mixin xsm
{
  @media (max-width: 576px)
  {
    @content;
  }
}

@mixin sm
{
  @media (min-width: 577px)
  {
    @content;
  }
}

@mixin md
{
  @media (min-width: 768px)
  {
    @content;
  }
}

@mixin lg
{
  @media (min-width: 992px)
  {
    @content;
  }
}

@mixin xl
{
  @media (min-width: 1200px)
  {
    @content;
  }
}

@mixin xxl
{
  @media (min-width:1400px)
  {
    @content
  }
}

*
{
  margin: 0;
  padding: 0;
  overflow-y: none;
  font-family: "Roboto", sans-serif;
}

.flex
{
  display: flex;
}